<ion-header>
  <ion-toolbar>
    <ion-title>Chọn chủ đề</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">

    <div class="welcome">
      <h1>Bạn muốn học gì?</h1>
      <p>Chọn một chủ đề để bắt đầu thử thách của bạn.</p>
    </div>

    <!-- Xem lịch sử -->
    <ion-button
      expand="block"
      fill="outline"
      class="history-button"
      (click)="viewHistory()">
      Xem lịch sử làm bài
    </ion-button>

    <!-- Danh sách chủ đề -->
    <div class="category-grid">
      <ion-card
        class="category-card"
        (click)="selectCategory('general')">
        <div class="card-icon">🧠</div>
        <h2>General Knowledge</h2>
        <p>2 Questions</p>
      </ion-card>

      <ion-card
        class="category-card"
        (click)="selectCategory('science')">
        <div class="card-icon">🔬</div>
        <h2>Science</h2>
        <p>1 Question</p>
      </ion-card>

      <ion-card
        class="category-card"
        (click)="selectCategory('technology')">
        <div class="card-icon">💻</div>
        <h2>Technology</h2>
        <p>5 Questions</p>
      </ion-card>
      <ion-card
        class="category-card"
        (click)="selectCategory('history')">
        <div class="card-icon">📚</div>
        <h2>History</h2>
        <p>1 Question</p>
      </ion-card>

    </div>

  </div>

</ion-content>