<ion-content [fullscreen]="true">
  <div class="home-container">

    <!-- Tiêu đề -->
    <h1>Quiz App</h1>

    <p class="subtitle">
      Kiểm tra kiến thức<br />
      và thử thách bản thân!
    </p>

    <!-- Hình minh họa -->
     <div class="illustration">
      <img src="assets/images/quizz.webp" alt="Quiz illustration" />
    </div>

    <!-- Mô tả -->
    <p class="description">
      Khám phá những câu hỏi thú vị,
      nâng cao kiến thức và vui chơi.
    </p>

    <!-- Nút bắt đầu -->
    <ion-button
      expand="block"
      class="start-button"
      (click)="startQuiz()">
      Bắt đầu làm bài
    </ion-button>

    <p class="footer-text">
      Học • Chơi • Tiến bộ
    </p>

  </div>
</ion-content>